tinytinyrss:
  # override default install settings
  lookup:
    # install in a custom location (default: /var/www/tinytinyrss)
    install_dir: /var/www/ttrss
    # change feed update frequency in minutes (default: 15)
    update_frequency: 10

  # Tiny Tiny RSS configuration
  config:
    # database type to use psql/mysql
    TTRSS_DB_TYPE: pgsql
    # database name
    TTRSS_DB_NAME: ttrss
    # database user
    TTRSS_DB_USER: ttrss
    # database password
    TTRSS_DB_PASS: ttrsspassword
    # full URL of the tinytinyrss installation
    TTRSS_SELF_URL_PATH: https://reader.jerrykan.com/
