{%- import_yaml "tinytinyrss/defaults.yaml" as defaults -%}

{%- set distro_release = salt['grains.get']('osmajorrelease')|string -%}

{%- set tinytinyrss = salt['grains.filter_by']({
    'Debian': {
        'php_modules': {
            '8': ['php5-curl', 'php5-gd', 'php5-intl', 'php5-json'],
            '9': [
                'php7.0-curl',
                'php7.0-gd',
                'php7.0-intl',
                'php7.0-json',
                'php7.0-mbstring',
                'php7.0-xml',
                'php7.0-opcache'
            ],
            '10': [
                'php7.3-curl',
                'php7.3-gd',
                'php7.3-intl',
                'php7.3-json',
                'php7.3-mbstring',
                'php7.3-xml',
                'php7.3-opcache'
            ],
            '11': [
                'php7.4-curl',
                'php7.4-gd',
                'php7.4-intl',
                'php7.4-json',
                'php7.4-mbstring',
                'php7.4-xml',
                'php7.4-opcache'
            ],
        }[distro_release],
        'pkg_mysql': {
            '8': 'php5-mysql',
            '9': 'php-mysql',
            '10': 'php-mysql',
            '11': 'php7.4-mysql',
        }[distro_release],
        'pkg_postgresql': {
            '8': 'php5-pgsql',
            '9': 'php-pgsql',
            '10': 'php-pgsql',
            '11': 'php7.4-pgsql',
        }[distro_release],
    },
}, grain='os_family',
   merge=salt['pillar.get']('tinytinyrss:lookup',
                            defaults.tinytinyrss,
                            merge=True)
) -%}
